*{
    margin: 0;
    padding: 0;
}
input,button{
    background: unset;
    border: unset;
}
input:focus-visible{
    outline: none;
    fill: none;
}
li{
    list-style: none;
}
:root{
    --pink:#DC56C5;
    --gray:#939393;
    --violet:#4C00FE;
}
.page-wrapper {
    background: black;
    min-height: 100vh;
}
.header {
    position: relative;
    margin: 0 auto;
    background: url(/img/header-bg.jpg) no-repeat center/cover;
    padding-top: 40px;
    padding-bottom: 133px; 
}
.header-overlay-logo {
    position: absolute;
    top: -200px;
    left: -165px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    fill: linear-gradient(136deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
    backdrop-filter: blur(30px);
}
.header-logo{
    margin-right: 55px;
    margin-top: 167px;
}
.header-photo {
}
.header-title {
    text-align: center;
    color: var(--pink);
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 52px;
}
.header-search {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.header-search-ticket {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: white;
    padding: 10px 0px 10px 30px;
}
.header-search-select {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: white;
    padding: 10px 0px 10px 30px;
}
input::placeholder{
    color:var(--gray);
}
.main {
    padding-left: 175px;
    padding-right: 175px;
}
.footer {
}

.main-card {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
}
.main-card-poster {
    /* height: 227px; */
    width: 100%;
    object-fit: cover;
}
.main-card-title {
    color: car(--pink);
    font-size: 700;
    font-size: 16px;
}
.main-card-date {
    color: white;
}
.main-card-place {
    color: white;
}